/*
  Sources which were used to build this page:
    MDB: https://mdbootstrap.com/docs/standard/content-styles/background-image/
*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root {
  --main-bg-colour: #f4f6f4;
  --block-bg-colour: #fff;
  --text-colour: #3f352c;
  --link-colour: #ee3300;
}

body {
  background-color: var(--main-bg-colour);
}

.col {
  padding: 0;
}

a {
  color: var(--link-colour);
}

/* Navigation */
.navbar .nav-link {
  color: #fff !important;
}

/* Header */
#intro {
  background-image: url("../assets/img/top.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 992px) {
  #intro {
    /*margin-top: -58.59px;*/
    margin-top: -67.9px;
  }

  #navbar-small {

  }
}

#intro .mask {
  background-color: rgba(0, 0, 0, 0.8);
}

.header-icon {
  font-size: 1.5rem;
}

/* About */
.about-small-header {
  cursor: pointer;
}

.about-small-text {
  display: none;
}

/* Main */
.content-block {
  background-color: var(--block-bg-colour);
}

main {
  color: var(--text-colour);
}

.cover-video {
  width: 70%;
  height: 70%;
}

.cover-video-left {
  position: relative;
  right: 13%;
}

.cover-video-right {
  position: relative;
  left: 44%;
}
